# Sass
**/.sass-cache/*

# Grav Specific
data/*
!data/.*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# Gedit autosaves
**/*~

# Custom config files
config/system.yaml
config/plugins/recaptchacontact.yaml
.gitignore

