<footer id="footer">
   <div class="totop">
      <span><a href="#" id="toTop"><i class="fa fa-caret-up"></i></a></span>
    </div>
    <div class="row">
      <div class="footercol">              
         <p><a href="{{ base_url_absolute }}"><img class="footerlogo" src="{{ theme_url }}/images/logofooter.png" alt=""> aRadianOff</a> <br/> {{ "AR_FOOTER.POWERED_BY"| t}} <a href="http://getgrav.org">Grav</a> </p>
      </div>
      <div class="footercol">
      	<p class="socialicons">
             <a href="https://twitter.com/aRadianOff"><i class="fa fa-twitter"></i></a>
             <a href="https://github.com/aradianoff/"><i class="fa fa-github"></i></a>
         </p>
      </div>
      <div class="footercol">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="{{ theme_url }}/images/CCLicense.png" /></a><br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"></a>.</p>
      </div>
    </div>
</footer>

