{% set header_image = page.media.images %}
{% if header_image %}
	<div class="modular flush-top header-image" style="background-image: url({{ page.url }}/page-header.jpg);">
{% else %}
<div>
{% endif %}
    {{ content }}
</div>



